@model TodoApp.Models.Todo

@{
	ViewData["Title"] = "Delete";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
	Delete
</h1>

<h3>
	Are you sure you want to delete the following Todo item ?
</h3>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Title)
			</th>			
			<th>
				@Html.DisplayNameFor(model => model.IsCompleted)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DueDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CreatedAt)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UpdatedAt)
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				@Html.DisplayFor(model => model.Title)
			</td>			
			<td>
				@Html.DisplayFor(model => model.IsCompleted)
			</td>
			<td>
				@Html.DisplayFor(model => model.DueDate)
			</td>
			<td>
				@Html.DisplayFor(model => model.CreatedAt)
			</td>
			<td>
				@Html.DisplayFor(model => model.UpdatedAt)
			</td>
		</tr>
	</tbody>
</table>

<form asp-action="Delete">
	<input type="hidden" asp-for="Id"/>
	<input type="submit" value="Delete" class="btn btn-danger"/>
	<a asp-action="Index">Back to Todo List</a>
</form>
